@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: .5s;
}

body {
    background: rgb(0, 0, 0);
    padding-bottom: calc(72px + .5rem);
}

.App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.sign-in {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.sign-in:hover {
    opacity: .8;
}

.bottomtxt {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 1rem;
    font-size: 12px;
    opacity: 0.8;
}

.toptxt {
    position: absolute;
    top: 0;
    color: white;
    padding: 2rem;
    font-size: 20px;
}

#blobSvg {
    position: absolute;
    width: 30%;
    z-index: -1;
}

.chatPage {
    color: white;
    padding: 1.5rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .left {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.head button {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.096);
    color: white;
    font-size: 12px;
    padding: 7px 15px;
    border-radius: 8px;
}

.head h1 {
    font-size: 14px;
}

.head .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(51, 51, 51, 0.425);
}

.head img {
    width: 100%;
}

.row .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgba(51, 51, 51, 0.425);
}

.row img {
    width: 100%;
}

.input i {
    color: rgba(255, 255, 255, 0.356);
}

.input input {
    background-color: transparent;
    border: none;
    background: none;
    outline: none;
    color: white;
    width: 100%;
}

.input {
    background: rgba(255, 255, 255, 0.056);
    padding: 10px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
}

.row {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0996);
    padding: 14px 0;
    cursor: pointer;
}

.row:active {
    background: rgba(255, 255, 255, 0.171);
}

.row p:nth-child(1) {
    font-size: 13px;
}

.row p:nth-child(2) {
    font-size: 11px;
    opacity: 0.4;
}

.user-display {
    padding: 20px 0;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(12, 12, 12);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal .head {
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 999;
}


 .modal .message-body {
    padding: 1rem;
    padding-top: calc(70px + 1rem);
    padding-bottom: calc(72px + 1rem);
    overflow: auto;
    max-height: 100vh;
} 

.modal .message-body ul {
    list-style: none;
   
   
    padding-bottom: calc(72px + 1rem);
    
}

.modal .message-body ul li {
    margin-bottom: 15px;
}

.modal .message-body ul .sent {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal .message-body ul .sent p {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    max-width: 49%;
    background-color: #298bff;
    width: fit-content;
    text-align: left;
    word-wrap: break-word;
}

.modal .message-body ul .received p {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    max-width: 49%;
    background-color: #383838;
    width: fit-content;
    word-wrap: break-word;
}

.modal .img {
    width: 38px;
    height: 38px;
}

.modal .send {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    column-gap: 1px;
    display: flex;
    align-items: center;
    background: black;
    column-gap: 10px;
}

.modal .audio {
    position: absolute;
    width: 100%;
    bottom: 72px;
    padding: 1rem;
    background: black;
    overflow: hidden;
}

.modal .audio .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .audio p {
    font-size: 14px;
}

.modal .audio .btns {
    display: flex;
    flex-direction: column;
}

.modal .audio .btns span {
    font-size: 13px;
    padding: 5px 10px;
}

.modal .audio .btns span:nth-child(2) {
    background-color: red;
    border-radius: 5px;
}

.modal .audio .btns span:nth-child(1) {
    background-color: #4FBF26;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal .audio .row-audio {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0;
    justify-content: space-between;
    padding-top: 13px;
}

.modal .send p:active {
    opacity: 0.6;
}

.modal .audio .anim {
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
    width: 200px;
}

.modal .audio .anim img {
    width: 100%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.modal .audio .upload p {
    font-size: 11px;
    background: rgba(255, 255, 255, 0.066);
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

.modal .send p {
    padding: 10px;
    background: #298bff;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.modal .send input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.066);
    border-radius: 7px;
    color: white;
}

.msg-head {
    justify-content: flex-start;
    column-gap: 15px;
}

.modal span {
    cursor: pointer;
}

audio.sent {
    display: flex;
    flex-direction: column;
}

.audio-chat {
    margin-bottom: 15px;
}

.audio-chat i {
    font-size: 11px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
}

audio {
    max-width: 50%;
    height: 35px;
}

audio.sent-audio::-webkit-media-controls-panel {
    background: #298bff;
}

audio.received-audio::-webkit-media-controls-panel {
    background: #383838;
    border: none;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-play-button {
    color: white;
}

@media (max-width:1000px) {
    #blobSvg {
        width: 70%;
    }
}
